modules = ["nodejs-20", "rust-stable", "web"]

[[artifacts]]
id = "artifacts/trion-dashboard"

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Bootstrap V2"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TRION L0 Daemon"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TRION V2 Relayer"

[[workflows.workflow]]
name = "Bootstrap V2"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && HARDHAT_DISABLE_TELEMETRY_PROMPT=true TS_NODE_PROJECT=tsconfig.hardhat.json npx hardhat run hardhat-scripts/bootstrap_v2.ts --network arbitrumSepolia"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "TRION L0 Daemon"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/trion-l0 && cargo run"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "TRION V2 Relayer"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run relay"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["openssl", "pkg-config"]

[userenv]

[userenv.shared]
ARBITRUM_RPC_URL = "https://arb-one.api.pocket.network"
RELAYER_PRIVATE_KEY = "0x93fd4461112f6e7a0cb14f6a71d8953f1351d76c71ee4026710ecb5399469a9d"
ARBITRUM_SEPOLIA_RPC_URL = "https://sepolia-rollup.arbitrum.io/rpc"
TRION_RELAYER_ADDRESS = "0xdbbf66cad621da3ec186d18b29a135d2a5d42d20"
TRION_ORACLE_ADDRESS = "0x708193f93Fb897fbeA72e7e7D19237770F19E969"
ARBITRUM_SEPOLIA_RPC = "https://arbitrum-sepolia-rpc.publicnode.com"
TRION_V2_ORACLE_ADDRESS = "0x852365411bf700ba7257A93c134CBdE71A58d4E0"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24875
externalPort = 3000

[[ports]]
localPort = 24876
externalPort = 3001
